.profile-page__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
}
.to-setting-btn{
  width: 190px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 12px;
}
.to-settings-icon {
  width: 16px;
  height: 16px;
  color: var(--dark-color);
}
.profile-page__body {
  padding: 24px;
  display: grid;
  grid-gap: 64px;
  grid-template-columns: 1fr 350px;
}
.subscribers-wrapper{
  display: flex;
  grid-gap: 6px;
  align-items: center;
}
.subscriber-avatar-btn {
  img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }
}
.to-subscribers-search {
  border-radius: 50%;
  background: var(--light-color);
  width: 16px;
  height: 16px;
  position: relative;

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 10px;
    background: var(--dark-color);
    top: 50%;
    left: 50%
  }
  &:before {
    transform: translateY(-50%) translateX(-50%);
  }
  &:after {
    transform: translateY(-50%) translateX(-50%) rotate(90deg);
  }
}
.stack-wrapper {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}
