@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../public/assets/fonts/JetBrainsMono-Thin.woff2') format('woff2'), url('../public/assets/fonts/JetBrainsMono-Medium.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 500;
  src: url('../public/assets/fonts/JetBrainsMono-Medium.woff2') format('woff2'), url('../public/assets/fonts/JetBrainsMono-Medium.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  src: url('../public/assets/fonts/JetBrainsMono-SemiBold.woff2') format('woff2'), url('../public/assets/fonts/JetBrainsMono-Medium.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 800;
  src: url('../public/assets/fonts/JetBrainsMono-Bold.woff2') format('woff2'), url('../public/assets/fonts/JetBrainsMono-Medium.woff2') format('woff2');
}

