@import "fonts";

:root {
  --dark-color: #000000;
  --light-color: #FFFFFF;
  --primary-color: #AE7AFF;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "JetBrains Mono", sans-serif;
  background-color: var(--dark-color);
  color: var(--light-color);
}
.skill-tag {
  padding: 0 8px;
  border-radius: 4px;
  border: 1px solid var(--light-color);
  display: inline;
  font-size: 12px;
  font-weight: 700;
  height: 24px;
  line-height: 24px;
}
.btn {
  width: 100%;
  border: none;
  background: var(--primary-color);
  color: var(--dark-color);
  padding: 10px 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid var(--dark-color);
}
.btn-shadow {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: -4px;
    right: -4px;
    background: var(--gray-color);
    border-radius: 4px;
    width: 100%;
    height: 100%;
  }
}
.h1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 800;
}
.h4 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 800;
}
.h6 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}
.subtitle {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
